DATABASE_URL=postgresql://admin:password@irctc-postgres:5432/irctc_db
JWT_SECRET="your_jwt_secret_key"
SERVICE_NAME="inventory-service"
PORT=4003
KAFKA_CLIENT_ID="inventory-service"
KAFKA_BROKERS="localhost:9092"