DATABASE_URL="postgresql://admin:password@irctc-postgres:5432/irctc_db"
REDIS_URL="redis://irctc-redis:6379"
JWT_SECRET="your_jwt_secret_key"
SERVICE_NAME="user-service"
PORT=4001
KAFKA_CLIENT_ID="user-service"
KAFKA_BROKERS="localhost:9092"