DATABASE_URL="your database url here"
REDIS_URL="your redis url here"
JWT_SECRET="your_jwt_secret_key"
SERVICE_NAME="user-service"
PORT=4001
KAFKA_CLIENT_ID="user-service"
KAFKA_BROKERS="localhost:9092"