DATABASE_URL=postgresql://admin:password@irctc-postgres:5432/irctc_db
JWT_SECRET="your_jwt_secret_key"
SERVICE_NAME="admin-service"
PORT=4002
KAFKA_CLIENT_ID="admin-service"
KAFKA_BROKERS="localhost:9092"
ADMIN_EMAIL="jhon123@gmail.com"
ADMIN_PASSWORD="jhonDoe_Secret_Password"