# Redis
REDIS_URL=redis://localhost:6379

# Service
SERVICE_NAME=notification-service
PORT=4006

# Kafka
KAFKA_CLIENT_ID=notification-service
KAFKA_BROKERS=localhost:9092

# Email / Sendgrid
SENDGRID_API_KEY=SG.your_sendgrid_api_key
SENDGRID_SENDER=no-reply@example.com