REDIS_URL=redis://irctc-redis:6379
SERVICE_NAME="notification-service"
KAFKA_CLIENT_ID="notification-service"
KAFKA_BROKERS="localhost:9092"
SENDGRID_API_KEY="SG.mock_key"
SENDGRID_SENDER="no-reply@example.com"