# Redis
REDIS_URL=redis://localhost:6379

# Service
SERVICE_NAME=api-gateway
PORT=4000
JWT_SECRET=your_jwt_secret_key

# Microservices Routes
USER_SERVICE_URL=http://localhost:4001
ADMIN_SERVICE_URL=http://localhost:4002
SEARCH_SERVICE_URL=http://localhost:4003
BOOKING_SERVICE_URL=http://localhost:4004
PAYMENT_SERVICE_URL=http://localhost:4005
